name: Docker Image CI

on: 
  push:
    branches: 
      - interopnet

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: go buid
        run: make clean all && make install
      - name: Build and push Docker images
        uses: docker/build-push-action@v1.1.0
        with: 
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
            repository: ${{ secrets.DOCKER_LOTUS_REPO}}
            registry: ${{ secrets.DOCKER_REGISTRY}}
            tag_with_ref: true
            path: /.github/workflows/Dockerfile    
      
